<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>

            <main>
                <% if (prods.length > 0) { %>
                    <div class="grid">
                        <% for (let product of prods) { %>
                            <article class="card product-item">
                                <header class="card__header">
                                    <h1 class="product__title">
                                        <%= product.title %>
                                    </h1>
                                </header>
                                <div class="card__image">
                                    <img src="<%= product.imageUrl %>" alt="<%= product.title %>">
                                </div>
                                <div class="card__content">
                                    <h2 class="product__price">$
                                        <%= product.price %>
                                    </h2>
                                    <p class="product__description">
                                        <%= product.description %>
                                    </p>
                                </div>

                                <div class="card__actions">
                                    <a href="/admin/edit-product/<%= product._id %>?edit=true">
                                        <button class='btn'>Edit</button></a>

                                    <input type="hidden" value="<%= product._id %>" name="productId">
                                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">

                                    <button class='btn' onClick='delProd(this)'>   
                                        Delete
                                    </button>
                                </div>  

                            </article>
                            <% } %>
                    </div>

                    <% if (pagi) { %>
                        <section class='pagi'>
                            <% if (currPage > 1) { %>
                                <a href='/admin/products/?page=1'>First</a>
                            <% } %>
                        
                            <% if (hasPrev) { %>
                                <a href='/admin/products/?page=<%= prevPage %>'> << </a>
                            <% } %>
                        
                            <a href='/admin/products/?page=<%= currPage %>' class='active'><%= currPage %></a>
                            
                            <% if (hasNext) { %>
                                <a href='/admin/products/?page=<%= nextPage %>'> >> </a>
                            <% } %>
                        
                            <% if (lastPage > currPage) {  %>
                                <a href='/admin/products/?page=<%= lastPage %>'>Last</a>
                            <% } %>
                        </section>
                    <% } %>
                <% } else { %>
                    <h1>No Products Found!</h1>
                <% } %>
            </main>
            <%- include('../includes/end.ejs') %>

            <script src='/js/admin.js'></script>